.mode-home {
  &.mode-background.sidebar-nav-button {
    background-color: $color-home;
  }
  .mode-background, .marker {
    background-color: $color-home;
  }
  .mode-color {
    color: $color-home;
  }
}

.mode-explore {
  &.mode-background.sidebar-nav-button {
    background-color: $color-explore;
  }
  .mode-background, .marker {
    background-color: $color-explore;
  }
  .mode-color {
    color: $color-explore;
  }
}

.mode-energy {
  &.mode-background.sidebar-nav-button {
    background-color: $color-energy;
  }
  .mode-background, .marker {
    background-color: $color-energy;
  }
  .mode-color {
    color: $color-energy;
  }
  .mode-background.content-header {
    background-image:url('../images/background-energy.jpg');
    @media all and (-webkit-min-device-pixel-ratio: 2) {
      background-image:url('../images/background-energy@2x.jpg');
    }
  }
}

.mode-environment {
  &.mode-background.sidebar-nav-button {
    background-color: $color-environment;
  }
  .mode-background, .marker {
    background-color: $color-environment;
  }
  .mode-color {
    color: $color-environment;
  }
  .mode-background.content-header {
    background-image:url('../images/background-environment.jpg');
    @media all and (-webkit-min-device-pixel-ratio: 2) {
      background-image:url('../images/background-environment@2x.jpg');
    }
  }
}

.mode-engagement {
  &.mode-background.sidebar-nav-button {
    background-color: $color-engagement;
  }
  .mode-background, .marker {
    background-color: $color-engagement;
  }
  .mode-color {
    color: $color-engagement;
  }
  .mode-background.content-header {
    background-image:url('../images/background-engagement.jpg');
    @media all and (-webkit-min-device-pixel-ratio: 2) {
      background-image:url('../images/background-engagement@2x.jpg');
    }
  }
}

.mode-equity {
  &.mode-background.sidebar-nav-button {
    background-color: $color-equity;
  }
  .mode-background, .marker {
    background-color: $color-equity;
  }
  .mode-color {
    color: $color-equity;
  }
  .mode-background.content-header {
    background-image:url('../images/background-equity.jpg');
    @media all and (-webkit-min-device-pixel-ratio: 2) {
      background-image:url('../images/background-equity@2x.jpg');
    }
  }
}

.mode-economy {
  &.mode-background.sidebar-nav-button {
    background-color: $color-economy;
  }
  .mode-background, .marker {
    background-color: $color-economy;
  }
  .mode-color {
    color: $color-economy;
  }
  .mode-background.content-header {
    background-image:url('../images/background-economy.jpg');
    @media all and (-webkit-min-device-pixel-ratio: 2) {
      background-image:url('../images/background-economy@2x.jpg');
    }
  }
}
