.mode-home {
  &.mode-background.sidebar-nav-button {
    background-color: $color-home;
  }
  .mode-background, .marker {
    background-color: $color-home;
  }
  .mode-color {
    color: $color-home;
  }
}

.mode-explore {
  &.mode-background.sidebar-nav-button {
    background-color: $color-explore;
  }
  .mode-background, .marker {
    background-color: $color-explore;
  }
  .mode-color {
    color: $color-explore;
  }
}

.mode-energy {
  &.mode-background.sidebar-nav-button {
    background-color: $color-energy;
  }
  .mode-background, .marker {
    background-color: $color-energy;
  }
  .mode-color {
    color: $color-energy;
  }
}

.mode-environment {
  &.mode-background.sidebar-nav-button {
    background-color: $color-environment;
  }
  .mode-background, .marker {
    background-color: $color-environment;
  }
  .mode-color {
    color: $color-environment;
  }
}

.mode-engagement {
  &.mode-background.sidebar-nav-button {
    background-color: $color-engagement;
  }
  .mode-background, .marker {
    background-color: $color-engagement;
  }
  .mode-color {
    color: $color-engagement;
  }
}

.mode-equity {
  &.mode-background.sidebar-nav-button {
    background-color: $color-equity;
  }
  .mode-background, .marker {
    background-color: $color-equity;
  }
  .mode-color {
    color: $color-equity;
  }
}

.mode-economy {
  &.mode-background.sidebar-nav-button {
    background-color: $color-economy;
  }
  .mode-background, .marker {
    background-color: $color-economy;
  }
  .mode-color {
    color: $color-economy;
  }
}
