// Body reset

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow-x: hidden;
  height: 100%;
}

body {
  font-family: $font-family-base;
  // Work around for Chrome rem glitch http://www.wp-code.com/wordpress-snippets/how-to-stop-chrome-using-a-large-font-size-after-refreshing/
  font-size: strip-units(rem($font-size-base))+em;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $color-background;
  overflow-x: hidden;
  width: 100%;
  position: relative;
  font-feature-settings: "kern" 1;
  text-rendering: geometricPrecision;
  min-height: 100%;
}

main {
  background-color: #fff;
  padding: 0 8rem 2rem;
  width: 66.66666%;
  float: left;
}

header {
  // margin-left: -1.5rem;
  // margin-right: -1.5rem;
}

footer {
  background-color: $color-background;
  padding: 6rem 0;
}

aside {
  background-color: $color-sidebar;
  // margin-left: -1.5rem;
  // margin-right: -1.5rem;
  width: 33.33333%;
  float: left;
  padding: 3rem 0;
  & > ul {
    margin-bottom: 0;
    padding: 0 4rem;
    & > li {
      padding: .5rem 1rem;
      list-style: none;
      @include clearfix;
      &.active {
        background-color: darken($color-sidebar, 10%);
        border-radius: 3px;
      }
    }
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

