<div class="content-block">
    <h3>Philadelphia Creates a Competitive Advantage from Sustainability</h3>
    <hr class="hr-subheader">
    <p>Philadelphia’s access to clean water and fertile farmland, walkable neighborhoods, and robust public transportation systems give the city a competitive advantage as businesses and residents increas­ingly seek quality-of-life amenities. To maintain and increase these advantages, <i>Greenworks</i> set targets to reduce vehicle miles traveled by 10 percent; increase the state of good repair in resilient infrastructure, and; increase the size of the regional clean economy by 25 percent. The following project areas in the <i>Greenworks Map</i> contribute to these targets:</p>
    <ul>
        <li>Bicycle Infrastructure</li>
        <li>Bike Lanes</li>
        <li>Indego Stations</li>
        <li>Pedestrian Space</li>
        <li>SEPTA Climate Resilience Projects</li>
    </ul>
</div>