<div class="content-block">
    <h3>Philadelphia Reduces Its Vulnerability to Rising Energy Prices</h3>
    <hr class="hr-subheader">
    <p><i>Greenworks</i> sets four targets explicitly related to improving the energy efficiency of Philadelphia’s homes, businesses, and municipal operations: lower City government energy consumption by 30 percent; reduce citywide building energy consumption by 10 percent; retrofit 15 percent of housing stock with insulation, air sealing, and cool roofs, and; purchase and generate 20 percent of electricity used in Philadelphia from alternative energy sources. The following project areas in the <i>Greenworks Map</i> contribute to these targets:</p>
    <ul>
        <li>City-operated LEED buildings</li>
        <li>Energy Efficiency Projects in City-Owned Buildings</li>
        <li>Greenworks Small Business Loans</li>
        <li>Guaranteed Energy Savings Project</li>
        <li>SEPTA Energy Management</li>
        <li>Renewable Energy Projects</li>
    </ul>
</div>