<div class="content-block">
    <h3>Lower City Government Energy Consumption by 30 Percent</h3>
    <hr class="hr-subheader">
    <p>City government energy usage rose in 2013 for the first time since 2007. As shown in the chart on the facing page, energy usage rises and falls with changes in weather, as extreme temperatures force heating and cooling systems to work longer and harder, increasing energy usage both at the municipal level and citywide. The Mayor’s Office of Sustainability (MOS) is currently working to weather-normalize energy data to provide a more accurate picture of municipal energy efficiency.</p>
</div>
<div class="content-block">
    <h3>Project Areas</h3>
    <hr class="hr-subheader">
    <ul>
        <li>City LEED buildings</li>
        <li>Energy Efficiency Projects in City-Owned Buildings Energy-Efficient Affordable Housing</li>
        <li>EnergyWorks Commerical Loans</li>
        <li>Greenworks Small Business Loans</li>
        <li>Guaranteed Energy Savings Project</li>
        <li>Philadelphia International Airport Renewable Energy Philadelphia Water Department Renewable Energy Privately-Owned Solar Projects</li>
        <li>SEPTA Projects</li>
    </ul>
</div>