<div class="content-block">
    <h3>Philadelphia Reduces Its Environmental Footprint</h3>
    <hr class="hr-subheader">
    <p>Environmental stewardship is core to <i>Greenworks</i>. The Environment section focuses on three areas of particular concern:  reducing greenhouse gas emissions by 20 percent; improving air quality toward attainment of federal standards; and diverting 70 percent of solid waste from landfill. The following project areas in the <i>Greenworks Map</i> contribute to these targets:</p>
    <ul>
        <li>Alternative Energy Vehicle Fueling Stations</li>
        <li>SEPTA Hybrid Bus Depots</li>
        <li>Air Monitoring Stations</li>
        <li>Recycling and Waste Management</li>
    </ul>
</div>