<div class="content-block">
    <h3>Philadelphia Delivers More Equitable Access to Healthy Neighborhoods</h3>
    <hr class="hr-subheader">
    <p>Equity is integral to sustainability. The majority of original <i>Greenworks</i> goals focused on making Philadelphia more equitable by ensuring that current decisions do not unfairly burden future generations. The equity section also sought to identify areas of the city with limited access to the benefits of sustainability policies and mitigate these inequities. Goals in this section include: managing stormwater to meet federal standards; providing walkable access to park and recreation resources and affordable healthy food for all Philadelphians, and; increasing tree coverage toward 30 percent in all neighborhoods by 2025. The following project areas in the <i>Greenworks Map</i> contribute to these targets:</p>
    <ul>
        <li>Green Stormwater Infrastructure</li>
        <li>New Trails</li>
        <li>New Park Space</li>
        <li>Forest and Stream Restoration</li>
        <li>Commercial Kitchen Center </li>
        <li>Farmers' Markets</li>
        <li>Food Co-ops</li>
        <li>New Supermarkets</li>
        <li>Philadelphia Prison Orchard Project</li>
        <li>Public Food Market</li>
        <li>New Street Trees</li>
        <li>New Yard Trees</li>
    </ul>
</div>