<div class="view-map">
    <header>
        <nav class="navbar navbar-default navbar-map">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" ui-sref="home">
                        <img src="/images/branding-greenworks-inverted.svg" width="120" alt="Greenworks Philadelphia">
                    </a>
                </div>
                <div id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <form class="navbar-form navbar-left" role="search">
                            <location-search on-result-found="map.onSearchResult"></location-search>
                        </form>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="filters hidden-xs">
        <div class="filter-menu" ng-click="map.showFilters = !map.showFilters">
            <div class="filter-header clearfix">
                <div class="filter-header-icon">
                    <div class="filter-header-icon-container">
                        <button type="button" class="filter-toggle vertical-align">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>
                <div class="filter-header-heading vertical-align">Filters</div>
                <div class="filter-header-button vertical-align" ng-click="$event.stopPropagation()">
                    <span ng-click="map.onResetClicked()">Reset</span> | <span ng-click="map.onClearClicked()">Clear</span>
                </div>
            </div>
        </div>
        <div class="filter-individuals" ng-show="map.showFilters">
            <div class="filter-wrapper">
                <div class="filter"
                     ng-class="'mode-{{::key | lowercase}}'"
                     ng-repeat="config in map.sections"
                     ng-init="key = config.title;"
                     ng-show="map.showCategories">
                    <div class="filter-header clearfix" ng-click="map.onHeaderClicked(key)">
                        <div class="filter-header-icon">
                            <div class="filter-header-icon-container mode-background">
                                <img class="mode-icon vertical-align" height="30" width="30" ng-src="/images/logo-{{ key | lowercase }}.svg" alt="">
                            </div>
                        </div>
                        <div class="filter-header-heading vertical-align">{{ ::key }}</div>
                        <div class="filter-header-button vertical-align">
                            <i class="fa fa-angle-down button-icon"
                               ng-class="{'fa-angle-down': !map.open[key], 'fa-angle-up': map.open[key]}"></i>
                        </div>
                    </div>
                    <div class="filter-body" collapse="!map.open[key]">
                        <div class="filter-subcategory" ng-repeat="(projKey, projectCat) in map.categories[config.title]">
                            <div class="filter-subcategory-header">
                                <div class="filter-category-checkbox">
                                    <input id="projcategory-{{$id}}"
                                           ng-checked="map.toggles.project[projKey]"
                                           ng-click="map.onProjectFilterClicked(projKey)"
                                           type="checkbox">
                                </div>
                                <label for="projcategory-{{$id}}" class="filter-subcategory-heading">{{ ::projKey }}</label>
                            </div>
                            <div class="filter-subcategory-item"
                                 ng-repeat="(subKey, count) in projectCat"
                                 ng-init="iconUrl = map.iconForCategory(subKey)">
                                <div class="filter-subcategory-checkbox">
                                    <input id="subcategory-{{$id}}"
                                           ng-checked="map.toggles.sub[subKey]"
                                           ng-click="map.onSubFilterClicked(subKey)"
                                           type="checkbox">
                                </div>
                                <label for="subcategory-{{$id}}">
                                    <div class="filter-subcategory-marker">
                                        <div ng-class="{marker: map.hasBackground(subKey)}">
                                            <img ng-if="iconUrl" ng-src="{{ ::iconUrl }}">
                                        </div>
                                    </div>
                                    <span class="filter-subcategory-heading">{{ ::subKey }} ({{ ::count | number }})</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="map" class="explore map"></div>
</div>
