<div class="view-map">
    <header>
        <nav class="navbar navbar-default navbar-map">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" ui-sref="home">
                        <img src="/images/branding-greenworks-inverted.svg" alt="">
                    </a>
                </div>
                <div id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <form class="navbar-form navbar-left" role="search">
                            <div class="input-group">
                                <input type="text"
                                       width="100"
                                       placeholder="Search address or neighborhood"
                                       class="form-control"
                                       ng-model="map.searchText"
                                       typeahead="location as location.text for location in map.suggest($viewValue)"
                                       typeahead-on-select="map.search($item.text, $item.magicKey)"
                                       typeahead-wait-ms="300"
                                       typeahead-min-length="3" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="filters">
        <div class="filter-menu">
            <div class="filter-header clearfix">
                <div class="filter-header-icon">
                    <div class="filter-header-icon-container">
                        <button type="button" class="filter-toggle vertical-align">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>
                <div class="filter-header-heading vertical-align">Filters</div>
                <div class="filter-header-button vertical-align">
                    <span ng-click="map.onResetClicked()">Reset</span> | <span ng-click="map.onClearClicked()">Clear</span>
                </div>
            </div>
        </div>
        <div class="filter-individuals">
            <div class="filter"
                 ng-class="'mode-{{::key | lowercase}}'"
                 ng-repeat="(key, section) in map.categories"
                 ng-show="map.showCategories">
                <div class="filter-header clearfix" ng-click="map.onHeaderClicked(key)">
                    <div class="filter-header-icon">
                        <div class="filter-header-icon-container mode-background">
                            <img class="mode-icon vertical-align" height="30" width="30" ng-src="/images/logo-{{ key | lowercase }}.svg" alt="">
                        </div>
                    </div>
                    <div class="filter-header-heading vertical-align">{{ ::key }}</div>
                    <div class="filter-header-button vertical-align">
                        <i class="fa fa-angle-up button-icon"
                           ng-class="{'fa-angle-up': !map.open[key], 'fa-angle-down': map.open[key]}"></i>
                    </div>
                </div>
                <div class="filter-body" collapse="!map.open[key]">
                    <div class="filter-subcategory" ng-repeat="(projKey, projectCat) in section">
                        <div class="filter-subcategory-header">
                            <div class="filter-category-checkbox">
                                <input ng-checked="map.toggles.project[projKey]"
                                       ng-click="map.onProjectFilterClicked(projKey)"
                                       type="checkbox">
                            </div>
                            <div class="filter-subcategory-heading">{{ ::projKey }}</div>
                        </div>
                        <div class="filter-subcategory-item" ng-repeat="(subKey, count) in projectCat">
                            <div class="filter-subcategory-checkbox">
                                <input ng-checked="map.toggles.sub[subKey]"
                                       ng-click="map.onSubFilterClicked(subKey)"
                                       type="checkbox">
                            </div>
                            <div class="filter-subcategory-marker">
                                <div class="marker">
                                    <i class="fa fa-file button-icon"></i>
                                </div>
                            </div>
                            <div class="filter-subcategory-heading">{{ ::subKey }} ({{ ::count }})</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="map" class="explore map"></div>
</div>
