.button-map {
  background-color: $color-button;
  padding: 2rem;
  display: inline-block;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
  &.circle {
    border-radius: 100%;
    height: 6rem;
    width: 6rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: -3rem;
    right: 8rem;
  }
  &:hover {
    background-color: darken($color-button, 10%);
  }
}
