<h3 class="sidebar-content-heading mode-color">
    <span class="header-underline">
        Types of projects:
    </span>
</h3>
<div class="sidebar-content-text">
<ul>
    <li>City LEED buildings</li>
    <li>Energy Efficiency Projects in City-Owned Buildings</li>
    <li>Energy-Efficient Affordable Housing</li>
    <li>EnergyWorks Commerical Loans</li>
    <li>Greenworks Small Business Loans</li>
    <li>Guaranteed Energy Savings Project</li>
    <li>Philadelphia International Airport Renewable Energy</li>
    <li>Philadelphia Water Department Renewable Energy</li>
    <li>Privately-Owned Solar Projects</li>
    <li>SEPTA Projects</li>
    <li>City LEED buildings</li>
    <li>Energy Efficiency Projects in City-Owned Buildings</li>
    <li>Energy-Efficient Affordable Housing</li>
    <li>EnergyWorks Commerical Loans</li>
    <li>Greenworks Small Business Loans</li>
    <li>Guaranteed Energy Savings Project</li>
    <li>Philadelphia International Airport Renewable Energy</li>
    <li>Philadelphia Water Department Renewable Energy</li>
    <li>Privately-Owned Solar Projects</li>
    <li>SEPTA Projects</li>
    <li>City LEED buildings</li>
    <li>Energy Efficiency Projects in City-Owned Buildings</li>
    <li>Energy-Efficient Affordable Housing</li>
    <li>EnergyWorks Commerical Loans</li>
    <li>Greenworks Small Business Loans</li>
    <li>Guaranteed Energy Savings Project</li>
    <li>Philadelphia International Airport Renewable Energy</li>
    <li>Philadelphia Water Department Renewable Energy</li>
    <li>Privately-Owned Solar Projects</li>
    <li>SEPTA Projects</li>
    <li>City LEED buildings</li>
    <li>Energy Efficiency Projects in City-Owned Buildings</li>
    <li>Energy-Efficient Affordable Housing</li>
    <li>EnergyWorks Commerical Loans</li>
    <li>Greenworks Small Business Loans</li>
    <li>Guaranteed Energy Savings Project</li>
    <li>Philadelphia International Airport Renewable Energy</li>
    <li>Philadelphia Water Department Renewable Energy</li>
    <li>Privately-Owned Solar Projects</li>
    <li>SEPTA Projects</li>
</ul>
</div>
