.filters {
  position: absolute;
  z-index: 2000;
  width: $filter-width;
  left: $sidebar-width-minimized + 1rem;
  margin-top: 1rem;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.1);
}

.filter {
  border-top: 1px solid $color-muted;
  background-color: #fff;
  &:first-child {
    border: 0;
  }
}

.filter-header {
  border-bottom: 1px solid $color-muted;
  padding: .5rem 1rem;
  height: 4.5rem;
  @include clearfix;
  cursor: pointer;
  &:hover {
    background-color: #eee;
  }
}

.filter-toggle {
  border: 0;
  outline: 0;
  background: none;
  & > .icon-bar {
    display: block;
    width: 18px;
    height: 2px;
    border-radius: 1px;
    background-color: $color-muted;
    margin-bottom: 3px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.filter-header-icon {
  float: left;
  text-align: center;
  width: 10%;
}

.filter-header-icon-container {
  margin: -.5rem 0 -.5rem -1rem;
  height: 4.5rem;
}

.filter-header-button {
  color: #333;
  float: left;
  width: 10%;
  text-align: center;
  font-size: 125%;
  line-height: 1;
}

.filter-header-heading {
  padding-left: 1rem;
  float: left;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: $font-size-h4;
}

.filter-menu {
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  background-color: #fff;

  .filter-header-button {
    width: 30%;
    text-align: right;
    line-height: 1;
    color: inherit;
    font-size: 100%;
  }

  .filter-header-heading {
    padding-left: 1rem;
    float: left;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: $font-size-h4;
  }
}

.filter-subcategory {
  border-bottom: 1px solid $color-muted;
  padding: 1rem;
  &:last-child {
    border: 0;
  }
}

.filter-subcategory-item {
  line-height: 1;
  padding: .5rem 0;
  @include clearfix;
}

.filter-subcategory-header {
  @extend .filter-subcategory-item;
  & > .filter-subcategory-heading {
    font-weight: bold;
  }
}

.filter-subcategory-button {
  color: #333;
  float: left;
  width: 10%;
  min-width: 10%;
  padding-left: 1rem;
  line-height: 1.5;
}

.filter-subcategory-button-container {
  background-color: #000;
}

.filter-subcategory-heading {
  float: left;
  width: 80%;
  margin-left: 10%;
  line-height: 1.5;
  padding-left: 1rem;
}

.filter-subcategory-marker {
  float: left;
  width: 10%;
  text-align: center;
}

.filter-subcategory-item {
  .filter-subcategory-button:after {
    content: '.';
    visibility: hidden;
  }
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
