.map {
  left: 0;
  right: 0;
  position: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background: $color-background;

  .view-map > & {
    top: 9rem;
    bottom: 0;
  }
}

.view-home .map {
  background-image: url("../images/static-map.jpg");
  top: 0;
  height: 40rem;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #F5F5F3;
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    background-image:url("../images/static-map@2x.jpg");
  }
}

.view-map .leaflet-tiles-loader,
.view-map .cartodb-tiles-loader {
    float: right;
    margin-right: 20px;
}

.view-map .leaflet-zoom,
.view-map .cartodb-zoom {
    float: right;
    margin-right: 20px;
}

.view-map .leaflet-popup-content-wrapper {
  border-radius: 0;
}

.popup-header {
  padding: 2rem;
  color: #fff;
  margin: 0;
}

.popup-body {
  padding: 2rem;
}

.popup-left + .popup-right {
  left: 25rem;
}

.popup-right {
  float: left;
  width: 35rem;
  position: relative;
}

.view-map .leaflet-popup-content {
  margin: 0;
}

.view-map .leaflet-popup-content-wrapper {
  padding: 0;
}

.cartodb-popup {
  h4, p {
    font-family: "Open Sans" !important;
  }
}

.popup-image {
  background-size: cover;
  background-position: center;
  float: left;
  width: 25rem;
  position: absolute;
  top: 0;
  bottom: 20px;
  &:after {
    content: '.';
    visibility: hidden;
  }
}

.popup-left > .popup-image > img {
  max-width: 100% !important;
}

.view-map .leaflet-popup-content {
  @include clearfix;
}

.view-map .leaflet-zoom {
  -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
}

.cartodb-tooltip {
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
}

.marker {
  color: #fff;
  background-color: $color-energy;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  text-align: center;
  font-size: .9rem;
  line-height: 2.2rem;
  display: inline-block;
}
