.map {
  left: 0;
  right: 0;
  position: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background: $color-background;

  .view-map > & {
    top: 9rem;
    bottom: 0;
  }
}

.view-home .map {
  background-image: url("../images/static-map.png");
  background-size: cover;
  top: 0;
  height: 40rem;
}

div.cartodb-tiles-loader {
    float: right;
    margin-right: 20px;
}

div.cartodb-zoom {
    float: right;
    margin-right: 20px;
}

.leaflet-popup-content-wrapper {
  border-radius: 0;
}

.popup-header {
  padding: 2rem;
  color: #fff;
  margin: 0;
}

.popup-body {
  padding: 2rem;
}

.popup-left + .popup-right {
  left: 25rem;
}

.popup-right {
  float: left;
  width: 35rem;
  position: relative;
}

.leaflet-popup-content {
  margin: 0;
}

.leaflet-popup-content-wrapper {
  padding: 0;
}

.popup-image {
  background-size: cover;
  background-position: center;
  float: left;
  width: 25rem;
  position: absolute;
  top: 0;
  bottom: 20px;
  &:after {
    content: '.';
    visibility: hidden;
  }
}

.popup-left > .popup-image > img {
  max-width: 100% !important;
}

.leaflet-popup-content {
  @include clearfix;
}

.leaflet-popup-close-button {
  z-index: 1;
  font: normal normal normal 14px/1 FontAwesome !important;
  visibility: hidden;
  &:after {
    display: block;
    content: "\f057";
    color: #fff;
    visibility: visible;
    position: absolute;
    top: 1rem;
  }
}

.marker {
  color: #fff;
  background-color: $color-energy;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  text-align: center;
  font-size: .9rem;
  line-height: 2.2rem;
  display: inline-block;
}
