.sidebar {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: $navbar-height;
  width: $sidebar-width;
  &.explore {
    width: $sidebar-width-minimized;
  }
}

.sidebar-header {
  color: #fff;
  padding: 1rem;
  height: $sidebar-heading-height;
  &.explore {
    height: $sidebar-width-minimized;
    position: fixed;
    z-index: 200;
    top: 0;
    transform-origin: left bottom;
    transform: rotate(90deg) translateY(0%) translateX($navbar-height - $sidebar-width-minimized);
  }
}

.sidebar-heading {
  color: #fff;
}

.sidebar-heading-inner {
  &.explore {
    transform: rotate(180deg) translateY(calc(50% - #{$sidebar-width-minimized-half}));
    line-height: 1;
    padding: 0 1rem;
  }
}

.panel {
  &.explore {

  }
}

.sidebar-content {
  padding: 1rem;
}

.sidebar-content-heading {
  margin-bottom: 3rem;
  & > .header-underline {
    padding-bottom: 1rem;
    border-bottom: 4px $color-muted solid;
  }
}

.sidebar-close {
  float: right;
  cursor: pointer;
}

.sidebar-nav {
  bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
  height: $sidebar-nav-height;
  &.explore {
    height: auto;
  }
}

.sidebar-inner {
  position: absolute;
  top: $sidebar-heading-height;
  bottom: $sidebar-nav-height;
  right: 0;
  left: 0;
  overflow: auto;
}

.hidden-explore {
  .explore & {
    display: none;
  }
}

.mode-logo {
  margin-right: 1rem;
}

.sidebar-nav-button {
  width: 50%;
  height: 100%;
  cursor: pointer;
  & > .button-icon {
    position: absolute;
    font-size: 2.2rem;
    .explore & {
      position: static;
    }
  }
  &.explore {
    width: 100%;
    float: none;
    height: $sidebar-nav-height;
  }
}

.sidebar-nav-prev {
  float: left;
  background-color: $color-muted;
  & > .button-icon {
    left: 2rem;
  }
}

.sidebar-nav-next {
  float: right;
  text-align: right;
  color: #fff;
  background-color: #000;
  & > .button-icon {
    right: 2rem;
  }
}

.sidebar-nav-button {
  padding: ($sidebar-nav-height/2 - 1) 1rem 0;
  position: relative;
  text-align: center;
}
