.hr-subheader {
  height: 4px;
  width: 7rem;
  margin-left: 0;
  border-top: 4px solid $color-button;
}

.text-container {
  background: #fff;
  @include clearfix;
  z-index: 20;
  position: relative;
}

.content {
  background-color: #fff;
  z-index: 1000;
  position: relative;
  margin-top: 15rem;
  width: 1024px;
  margin-right: auto;
  margin-left: auto;
}

.content-header {
  background-color: $color-energy;
  height: 36rem;
  position: relative;
  margin-left: -8rem;
  margin-right: -8rem;
}

.content-heading {
  text-align: left;
  color: #fff;
  position: relative;
  top: 50%;
  padding-left: 8rem;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.content-block {
  margin: 5rem 0;
}

.sidebar-title {
  float: left;
  clear: right;
}

.sidebar-icon {
  float: left;
  width: 4rem;
}

.navbar-input {
  height: 5rem;
}
