<aside class="sidebar" ng-class="tour.pageConfig.css" ng-cloak>

    <div class="sidebar-header mode-background">
        <div ui-sref="map" class="sidebar-close hidden-explore">
            <i class="fa fa-times-circle"></i>
        </div>
        <div class="text">
            <h1 class="sidebar-heading">
                <div class="sidebar-heading-inner">
                    <img class="mode-logo hidden-explore" ng-src="{{ tour.pageLogo }}" alt="">{{ tour.pageConfig.title }}
                </div>
            </h1>
            <div class="sidebar-text hidden-explore">{{ tour.pageConfig.details }}</div>
        </div>
    </div>

    <div class="sidebar-inner hidden-explore">

        <div class="sidebar-content" ng-include="tour.sidebarPartial"></div>

    </div>
    <div class="sidebar-nav hidden-explore">
        <div class="sidebar-nav-button sidebar-nav-prev mode-background"
             ng-click="tour.onPrevClick()"
             ng-class="tour.prevConfig.css">
            <i class="fa fa-angle-left button-icon"></i>
            <span class="sidebar-nav-button-text hidden-explore">{{ tour.prevButtonTitle }}</span>
        </div>
        <div class="sidebar-nav-button sidebar-nav-next mode-background"
             ng-click="tour.onNextClick()"
             ng-class="tour.nextConfig.css">
            <span class="sidebar-nav-button-text hidden-explore">{{ tour.nextButtonTitle }}</span>
            <i class="fa fa-angle-right button-icon"></i>
        </div>
    </div>
</aside>
