<div class="view-home">
    <div class="content">
        <header affix>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">
                                    <img src="/images/branding-greenworks.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <div id="bs-example-navbar-collapse-1">
                                <form role="search">
                                    <location-search on-result-found="home.onSearchResult"></location-search>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="text-container">
            <aside affix affix-offset-top="152">
                <ul>
                    <li ng-repeat="section in home.sections">
                        <a href="#{{ ::section.key}}" class="sidebar-title" du-smooth-scroll du-scrollspy>
                            <span class="sidebar-icon"><img ng-src="/images/icon-{{ ::section.key }}.svg" alt=""></span>{{ ::section.title }}
                        </a>
                    </li>
                </ul>
                <div class="button-map" ui-sref="map">
                    Explore Map
                </div>
            </aside>
            <main>
                <div class="content-section">
                    <div class="content-block">
                        <h3><i>Greenworks</i> Map: Sustainability Projects in Philadelphia</h3>
                        <hr class="hr-subheader">
                        <p>The Mayor’s Office of Sustainability implements Greenworks, Philadelphia’s comprehensive sustainability plan. <i>Greenworks</i> is comprised of 15 measurable targets across five focus areas: energy, environment, equity, economy, and engagement. This <i>Greenworks</i> mapping tool allows users to see sustainability work that has happened in Philadelphia’s neighborhood and to identify opportunities for future work.</p>
                        <p>Projects displayed on the map reflect the work completed by the City of Philadelphia and its partners from 2009 to 2015, the <i>Greenworks</i> implementation period. For more information about this work and the future of sustainability in Philadelphia, see the <i>Greenworks 2015 Progress Report</i>, available at <a href="http://www.phila.gov/green">www.phila.gov/green</a>.</p>
                    </div>
                </div>
                <div class="content-section"
                     ng-class="section.cssClass"
                     ng-repeat="section in home.sections"
                     id="{{ ::section.key }}"
                     du-smooth-scroll>
                    <div class="content-wrapper">
                        <div class="content-header mode-background">
                            <h1 class="content-heading">
                                <img ng-src="/images/logo-{{ ::section.key }}.svg" alt="">
                                {{ ::section.title }}
                            </h1>
                        </div>
                    </div>
                    <ng-include src="'/scripts/views/home/sections/' + section.key + '-partial.html'"></ng-include>
                </div>
            </main>
        </div>
        <div id="map-image" class="map"></div>
    </div>
    <footer class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4>Credits</h4>
                This tool was developed for the Mayor’s Office of Sustainability (MOS) by Azavea.
            </div>
            <div class="col-sm-4">
                <h4>Contact</h4>
                Questions about the tool, the data, or the Greenworks program can be directed to <a href="mailto:benchmarkinghelp@phila.gov">benchmarkinghelp@phila.gov</a>
            </div>
            <div class="col-sm-4">
                <h4>Full Report</h4>
                You can find the Greenworks 2015 Progress Report by visiting <a href="http://www.phila.gov/green">www.phila.gov/green</a>
            </div>
        </div>
    </footer>
</div>
